    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          <% @listings.each do |listing| %>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
              <div class="card">
                <span data-toggle="modal" data-target="#exampleModal<%= listing.id%>">
                    <%= image_tag listing.image, class: "img-thumbnail, card-img-top" %>
                </span>
                <div class="card-body">
                  <%= link_to listing_path(listing) do %>
                    <h4><%= listing.title %></h4>
                  <% end %>
            
                  <h5> <%= listing.price %> лв.</h5>
                  <%= link_to Category.find(listing.category_id).name, category_path(listing.category_id) %>
                </div>
        
                <div class="modal fade" id="exampleModal<%= listing.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <%= image_tag listing.image, class: "img-thumbnail" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          
          </div>
        </div>
      </div>

      <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary btn-md mt-4" %>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>
