<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %> лв.
</p>

<p>
  <strong>List Number:</strong>
  <%= @listing.id %>
</p>

<p>
	<%= image_tag @listing.image.url(:medium) %>
</p>

<%= link_to 'Pay Now', new_charge_path, class: "btn btn-primary btn-md mt-4" %>

<% if @listing.user == current_user %>
	<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-primary btn-md mt-4" %>
	<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-md mt-4" %> 
<% end%>

<%= link_to 'User\'s profile', user_path(@listing.user), class: "btn btn-primary btn-md mt-4" %>
<%= link_to 'Back', listings_path, class: "btn btn-primary btn-md mt-4" %>
