<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
	<strong>Image:</strong>
	<%= image_tag @listing.image.url(:medium) %>
</p>

<% if @listing.user == current_user %>
	<%= link_to 'Edit', edit_listing_path(@listing) %> | 
	<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end%>

<%= link_to 'Back', listings_path %>
