<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>

<% if @user == current_user %>
	<%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: "btn btn-primary btn-md my-4" %>
<% end %>

<p>
  <strong>Listings:</strong>
  <% Listing.where(user_id: params[:id]).each do |listing| %>
    <li><%= link_to listing.title, listing_path(listing.id) %>, 
        <%= listing.price %> лв.</li>
  <% end %>
</p>

<%= link_to "Back", listings_path, class: "btn btn-primary btn-md my-4" %>