<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<% if @user == current_user %>
	<%= link_to 'Edit Profile', edit_user_registration_path(current_user) %> | 
<% end%>

<%= link_to "Back", :back %>